@layout('./layouts/app')

@section('content')
<div id="app">
  <div class="home">
    <div class="Aligner">
      <div class="Aligner-item"><img src="/img/logo.png">
        <h1>Second with edge</h1>
        
      </div>
    </div>
  </div>
</div>
@endsection